* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  background-color: white;
  font-family: monospace;
}

.container {
  height: -webkit-fill-available;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.minesweeper__wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minesweeper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.minesweeper__counter {
  user-select: none;
  font-size: 30px;
  font-weight: bold;
}

.field {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.field__row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.field__row:last-child .field__cell {
  border-bottom: 0;
}

.field__cell {
  max-width: 30px;
  max-height: 30px;
  flex: 1;
  aspect-ratio: 1;
  background-color: #fafafa;
  box-sizing: border-box;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.field__cell:last-child {
  border-right: 0;
}

.field__cell--closed {
  color: white;
  background-color: #333;
}

.field__cell.field__cell--1 {
  color: rgb(22, 12, 224)
}
.field__cell.field__cell--2 {
  color: rgb(2, 102, 12)
}
.field__cell.field__cell--3 {
  color: rgb(222, 12, 24)
}
.field__cell.field__cell--4 {
  color: rgb(222, 12, 224)
}
.field__cell.field__cell--5 {
  color: rgb(122, 12, 24)
}
.field__cell.field__cell--6 {
  color: rgb(122, 12, 24)
}

.number-field {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.number-field:last-child {
  margin-bottom: 0;
}

.number-field__input {
  text-align: center;
  margin-left: 20px;
  padding: 1px 5px;
  line-height: 30px;
  width: 100px;
  overflow: hidden;
  color: black;
  border: 1px solid black;
  background-color: white;
}

.number-field__label {
  user-select: none;
}

.button {
  background-color: white;
  cursor: pointer;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: 0.75s all ease-in;
}

.button i {
  user-select: none;
  transform: scale(1, -1);
  pointer-events: none;
  color: #333;
  font-size: 75px;
}

.settings {
  border-radius: 20px;
}

.ctrl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 12px 24px;
  height: 150px;
}

.button:hover i {
  transform: scale(1, -1) rotate(-360deg);
  transition: 0.75s all ease-in;
}
